/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


body {
    display: flex;
}


.left {
    padding: 20px;
    background-image: url(./assets/gabrielle-maurer-on_wnJU2n7g-unsplash.jpg);
    flex-grow: 1;
    width: 35vw;
    max-width: 30em;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 3;
    width: 65vw;
    height: 100vh;
    padding: 3rem;
}

form :first-child {
}

/* @media (min-width: 320px) {
    html {
      font-size: calc(5px + 6 * ((100vw - 320px) / 680));
    }
  }
  @media (min-width: 1000px) {
    html {
      font-size: 10%;
    }
  } */

:root{
background-color: rgb(81, 71, 55);
color: aliceblue;
}

input:valid {border-color: rgb(73, 165, 42);}
input:invalid{border-color: rgb(38, 61, 154);}
